

  .navigation{
    .active{
        color: red !important;
      }
    
  }


  .Socialnavigation{
    justify-content: end;

  }

  .hambergurPanel{
    .nav{
        display: block;
        text-align: start;
    }
  }